
#map {
  height: 540px;
}

body{
padding:0;
margin:0;
background-color: #ffffff00
}

/* ヘッダー */
header {
background-color: #f1f8f9;
position: fixed;
display: flex;
top:0;
height: 50px;
justify-content: space-between;
width: 100%;
z-index: +10;
}
header h2 {
font-size: 1.5em;
margin: auto 0 auto 1em; 
color: #79b8cf;
}

/* ヘッダー用ボタン */
.header-btn {
  text-align: right;
  margin: 0 5px 0 0;
}
.header-btn button {
  width: 40px;
  height: 40px;
  margin: 5px 3px;
  padding: 0;
  border-radius: 3px;
  border-color: #89bfd2;
  background-color: #f1f8f9;
}
.header-btn button:hover {
  border-color: #89bfd2;
  background-color: #aee3ea;
}

.map-pin{
  width: 20px;
  height: 33px;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.img-blue {
  background-image: url(../image/map-pin_01_blue.png);
}
.img-red {
  background-image: url(../image/map-pin_01_red.png);
}
.img-search {
  width: 30px;
  background-image: url(../image/search.png);
}

.map{
position: relative;
margin: 50px 0;
z-index: 0;
}

/* フッター */
footer {
background-color: #f1f8f9;
position: fixed;
bottom: 0;
display: flex;
height: 50px;
justify-content: space-between;
width: 100%;
z-index: +11;
}

/* メニュー */
.menu {
  width: 20%;
  height: 50px;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.m-hover:hover {
  background-color: #aee3ea;
}
.home {
  background-image: url(../image/menu_home.png);
}
.spot {
  background-image: url(../image/menu_spot.png);
}
.root-blue {
  background-image: url(../image/menu_root_blue.png);
}
.favo{
  background-image: url(../image/menu_favo.png);
}
.log {
  background-image: url(../image/menu_log.png);
}
.link {
  width: 100%;
  height: 100%;
}

@media screen and (min-height: 641px) {
#map {
  height: 567px;
}
}
@media screen and (min-height: 668px) {
#map {
  height: 712px;
}
}
@media screen and (min-height: 813px) {
#map {
  height: 744px;
}
}
@media screen and (min-height: 845px) {
#map {
  height: 796px;
}
}
@media screen and (min-height: 896px) {
#map {
  height: 826px;
}
}

@media screen and (min-width: 960px) {

}
